/* Common start */

body 
{
	background-color:#333333;
}

/* Common end */

/* Navigation bar start */

.navbar-default
{
	background-color:#666666;
}

.navbar-nav>li>a:link    {color: white; }
.navbar-nav>li>a:active  {color: white; }
.navbar-nav>li>a:visited {color: white; }


.navbar-nav>li>a:hover {
	background-color:#333333;
    color: #CCCCCC
}

.container>.navbar-header {
    background-color:#333333;
}

/* Navigation bar end */