<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>С любовью к .NET</title>
    <link href="~/StaticContent/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/StaticContent/css/business-casual.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <link href="~/StaticContent/css/general-styles.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.6.0-rc.1/angular-sanitize.js"></script>
    <script src="https://code.angularjs.org/1.6.0-rc.1/angular-cookies.min.js"></script>
</head>
<body>


@RenderBody()

<script src="~/StaticContent/js/jquery.js"></script>

<script src="~/StaticContent/js/bootstrap.min.js"></script>
</body>
</html>