
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="Index" ng-controller="IndexController">

<div class="brand">With love to .NET</div>
<div class="address-bar">мы любим .net</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li>
            <a href="Index">Главная</a>
        </li>
        <li>
            <a href="Lessons">Уроки</a>
        </li>
        <li>
            <a href="BadCode">Плохой код</a>
        </li>
        <li>
            <a href="SmokingRoom">Курилка</a>
        </li>
    </ul>
</div>
<!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="Index">With love to .NET</a>
            </div>

        </div>
    </nav>

<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Что нового
                </h2>
                <hr>
                <p ng-bind-html="newsHtml"></p>
            </div>
        </div>
    </div>
</div>
<script src="~/StaticContent/js/jquery.js"></script>
<script src="~/StaticContent/js/bootstrap.min.js"></script>
</body>

<script src="~/StaticContent/js/Controllers/index.js"></script>
